body{
 
    background-color: khaki;


}

h3{

    color: blue;
    font-size: 18px;
}

 

.chapter{

    color: gray;
} 

#begin{

    color: brown;
}

.box{

width: 300px;
height: 300px;
background-color: antiquewhite;
padding: 20px 20px 20px 20px;
border: 6px; 
border-style: solid;
border-color: black;


}

.wluxa{

    width: 300px;
    height: 200px;
    padding-top: 10px;
    
}